<%= partial 'layouts/_layout-base' %>
	
<section id="m-row" class="row">
	<article id="m-col" class="col-md-10">
		<%= partial '_article-header', :locals => { :article => current_article, :link_title => false } %>

		<%= yield %>
	</article>
</section>
<aside id="m-sub-row" class="row">
	<div id="m-sub-col" class="col-md-10">
		<!-- disqus -->
		<%= partial 'layouts/_disqus' %>
	</div>
</aside>

<%= partial 'layouts/_layout-base-end' %>
