!!!
/[if lt IE 7] <html class="no-js ie lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js ie lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js ie lt-ie9">
/[if gt IE 8]><!
%html
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title= current_page.data.title ? "#{current_page.data.title} | mreq.eu" : "mreq.eu"
    %meta{:content => current_page.data.description || "A blog by mreq.", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

    = stylesheet_link_tag 'mreq-blog'

    = javascript_include_tag 'vendor/respond.min'

    / :javascript
    / google analytics

  %body
  
    #m-container.container
      #m-row.row
        #m-col.col-md-10
          = yield

    = javascript_include_tag 'mreq-blog'
