<header class="m-article-header">
	<<%= heading %> class="m-article-heading">
		<% if link_title %>
			<a href="<%= article.url %>"><%= article.title %></a>
		<% else %>
			<%= article.title %>
		<% end %>
	</<%= heading %>>
	<div class="row">
		<div class="m-article-date col-sm-4">
			posted on <%= article.date.strftime '%d/%m/%Y' %>
		</div>
		<ul class="m-article-tags col-sm-8">
			<li>tagged as</li>
			<% for tag in article.tags %>
				<li>
					<a href="/#<%= tag %>" class="m-article-tag-link" data-tag="<%= tag %>"><%= tag %></a><% if article.tags.last != tag %>,<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</header>